*{
    margin: 0;
    padding: 0;
}
body{
    font-style: italic;
    font-family: cursive;
    background-color: lightgrey;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container1{
    display: flex;
    flex-wrap: wrap;
}
.hours , .min , .sec{
    padding: 1em;
    margin: 1em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}
.box h2{
    text-align: center;
}
.not{
    background-color:blue;
    padding: 1em;
    margin: 1em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box1{
    padding: 8px;
    margin-top: 50px;
}

.day h1{
    color: rgb(133, 133, 248);
}