*{
    margin: 0;
    padding: 0;
}
body{
    font-style: italic;
    font-family: cursive;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.hours , .min , .sec{
    padding: 1em;
    margin: 1em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}
.box h2{
    text-align: center;
}
.not{
    background-color:blue;
    padding: 1em;
    margin: 1em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}