*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.hours , .min , .sec , .not{
    padding: 1em;
    margin: 2em;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}
.box h2{
    text-align: center;
}